
#logo {
    margin-top: 15px;
    width: 150px;
}
header{
    background-color: rgb(78,160,255);
}
#pattern {
    background-image: url(../img/img/img/pattern.png);
    background-size: contain;
    height: 70px;
    width: 100%;
}
.c-gray {
    color: gray;
}
a {
    color: rgb(78,160,255);
    text-decoration: none;
}
.mini {
    font-size: 10px;
}
.evidenziato {
background-color: yellow;
}
.tab-1 {
    width: 20%;
}
.color-blue {
    background-color: blue;
    color:white;
}
.color-yb {
    background-color: #b1e5f2;
}
table {
    margin: 0;
    border: 0;
}
.scheda {
    width: 180px;
    height: 140px;
    color: white;
    text-align: center;
    background-size:cover;
    margin-top: 5px;
}
.monitor {
    background-image: url(../img/img/img/monitor.jpg);
}
.covid {
    background-image: url(../img/img/img/graph.jpg);
}