header{
    background-color: rgb(78,160,255);
}
#pattern {
    background-image: url(img/img/img/pattern.png);
    background-size: contain;
    height: 50px;
}
div p {
    color: gray;
}
a {
    color: rgb(78,160,255);
    text-decoration: none;
}
.mini {
    font-size: 10px;
}